# Byte-compiled / optimized / DLLs
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Environment directories
.env
.venv
env/
venv/
ENV/

# Other files
*.jpg
*.jpeg

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated images / logs
data/snapshots/*
data/logs/*

# Keep directories
!data/snapshots/.gitkeep
!data/logs/.gitkeep

# Large ML models (Model weights)
models/*.pt
models/*.onnx
models/*.engine

# Temporary files
*.tmp
*.log